:root {
	/* Colors*/
	--main-text-cl: #212121;
	--secondly-text-cl: #757575;
	--accent-cl: #2196f3;
	--light-cl: #ffffff;
	--background-cl: #2f303a;
	--backgroung-light-cl: #f5f5f5;
	--background-secondary-cl: #f5f4fa;

	/*Fonts*/
	--main-font: Roboto, sans-serif;
	--secondary-font: Raleway, sans-serif;
}
/*index.html*/
body {
	background-color: var(--light-cl);
	color: var(--main-text-cl);
	font-family: var(--main-font);
}

.header .nav .current {
	color: var(--accent-cl);
}
.link {
	color: currentColor;
	text-decoration: none;
}
.list {
	list-style: none;
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Header */
.header .link {
	font-size: 14px;
	font-weight: 500;
	line-height: calc(16 / 14);
	letter-spacing: 0.02em;
	color: var(--main-text-cl);
}
.header .logo {
	font-family: Raleway;
	font-size: 26px;
	font-weight: 700;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	color: var(--main-text-cl);
}
.blue-logo {
	color: var(--accent-cl);
}
.header-list .link {
	color: var(--secondly-text-cl);
}
.header .link:hover,
.header .link:focus {
	color: var(--accent-cl);
}

/* Hero */

.hero {
	background-color: var(--background-cl);
}
.hero-title {
	font-size: 44px;
	font-weight: 900;
	line-height: calc(60 / 44);
	letter-spacing: 0.06em;
	color: var(--light-cl);
	text-transform: uppercase;
}

.hero-btn {
	font-family: inherit;
	font-size: 16px;
	font-weight: 700;
	line-height: calc(30 / 16);
	letter-spacing: 0.06em;
	background-color: var(--accent-cl);
	color: var(--light-cl);
	cursor: pointer;
}
/* Qualities */
.qualities-name {
	font-size: 14px;
	font-weight: 700;
	line-height: calc(16 / 14);
	letter-spacing: 0.03em;
	color: var(--main-text-cl);
}

.qualities-subtitle {
	font-size: 14px;

	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	color: var(--secondly-text-cl);
}
/* What we doing */
.doing-title {
	font-size: 36px;
	font-weight: 700;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	color: var(--main-text-cl);
}

/* Our team */
.team {
	background-color: var(--background-secondary-cl);
}

.team-title {
	font-size: 36px;
	font-weight: 700;
	line-height: calc(42 / 36);
	letter-spacing: 0.03em;
	color: var(--main-text-cl);
}
.team-name {
	font-size: 16px;
	font-weight: 500;
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	color: var(--main-text-cl);
}
.team-subtitle {
	line-height: calc(19 / 16);
	letter-spacing: 0.03em;
	color: var(--secondly-text-cl);
}

/* Footer */
.footer {
	background-color: var(--background-cl);
}
.footer .logo {
	font-family: Raleway;
	font-size: 26px;
	font-weight: 700;
	line-height: calc(31 / 26);
	letter-spacing: 0.03em;
	color: var(--main-text-cl);
}
.footer-logo {
	color: var(--light-cl);
}
.blue-logo {
	color: var(--accent-cl);
}
.contact {
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
	font-style: normal;
}
.contact-location {
	color: var(--light-cl);
}
.footer-link {
	color: #ffffff99;
}
/* Portfolio */

.portfolio-btn {
	font-family: inherit;
	font-size: 16px;
	font-weight: 500;
	line-height: calc(26 / 16);
	letter-spacing: 0.03em;
	color: var(--main-text-cl);
	background-color: var(--background-secondary-cl);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
	color: var(--light-cl);
	background-color: var(--accent-cl);
	cursor: pointer;
}
.portfolio-product-title {
	font-size: 18px;
	font-weight: 700;
	line-height: calc(36 / 18);
	letter-spacing: 0.06em;
	color: var(--main-text-cl);
}

.portfolio-product-subtitle {
	line-height: calc(30 / 16);
	letter-spacing: 0.03em;
	color: var(--secondly-text-cl);
}
